
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
  <div class="frame">
    <div class="main_frame">
        <div class="left_frame">
            <div class="left_1">
                <div class="left_1-1">
                    <img src="/public/author/images/Profile.png" width="156px" height="142px" alt="" />
                </div>
                <div class="left_1-2"><%=user.name%></div>
                <div class="left_1-3"><%=user.profession%></div>
                <div class="left_1_icons">
                  <a class="link_href" href="">
                    <div class="icon">
                      <img src="/public/author/icons/Facebook.svg" class="icon-1">
                    </div>
                  </a>
                   <a class="link_href" href="">
                    <div class="icon">
                      <img src="/public/author/icons/Instagram.svg" class="icon-1">
                    </div>
                  </a>
                   <a class="link_href" href="">
                    <div class="icon">
                      <img src="/public/author/icons/Twitter.svg" class="icon-1">
                    </div>
                  </a>
                   <a class="link_href" href="">
                    <div class="icon">
                      <img src="/public/author/icons/Linkeding.svg" class="icon-1">
                    </div>
                  </a>
                   <a class="link_href" href="">
                    <div class="icon">
                      <img src="/public/author/icons/Youtube.svg" class="icon-1">
                    </div>
                  </a>
                   <a class="link_href" href="">
                    <div class="icon">
                      <img src="/public/author/icons/Dribbble.svg" class="icon-1">
                    </div>
                  </a>
                </div>
            </div>
            <div class="marginer"></div>
              <div class="left_2">
                <div class="age">
                 <div class="Age_write">Age:</div>
                  <div class="age_inport"><%=user.age%></div>
                  </div>
                  <div class="residance">
                 <div class="w_residance">Residence:</div>
                 <div class="residance_import"><%=user.residence%></div>
              </div>
                  <div class="free">
                  <div class="freelance">Freelance:</div>
                  <div class="avai">Available</div>
                  </div>
                  <div class="adress">
                 <div class="w_adress">Address:</div>
                 <div class="adress_import"><%=user.adress%></div>
              </div>
              </div>
            <div class="marginer"></div>
            <div class="left_3">
              <div class="langs_top">Languages</div>
              <div class="langs_1">
                <div class="lang_1_import"><%=user.languages[0]%></div>
                <div class="lang_1_level">100%</div>
              </div>
              <div class="langs_2">
                <div class="lang_2_import"><%=user.languages[1]%></div>
                <div class="lang_2_level">80%</div>
              </div>
              <div class="langs_3">
                <div class="lang_3_import"><%=user.languages[2]%></div>
                <div class="lang_3_level">60%</div>
              </div>
            </div>
            <div class="marginer"></div>
            <div class="left_4">
              <div class="skills">Skills</div>
              <div class="skill_1">
                <div class="skill_1_impot"><%=user.skills[0]%></div>
                <div class="skill_1_level">90%</div>
              </div>
              <div class="skill_2">
                <div class="skill_2_impot"><%=user.skills[1]%></div>
                <div class="skill_2_level">85%</div>
              </div>
              <div class="skill_3">
                <div class="skill_3_impot"><%=user.skills[2]%></div>
                <div class="skill_3_level">80%</div>
              </div>
              <div class="skill_4">
                <div class="skill_4_impot"><%=user.skills[3]%></div>
                <div class="skill_4_level">75%</div>
              </div>
              <div class="skill_5">
                <div class="skill_5_impot"><%=user.skills[4]%></div>
                <div class="skill_5_level">85%</div>
              </div>
            </div>
            <div class="marginer"></div>
            <div class="left_5">
              <div class="extra_skills">Extra Skills</div>
              <div class="extra_1">
              <div class="icon_ex_1"><img src="/public/author/icons/Icons_ex.svg" class="ex_slills_i"></div>
              <div class="ex_import_1"><%=user.extra_skills[0, 1]%></div>
              </div>
              <div class="extra_2">
              <div class="icon_ex_1"><img src="/public/author/icons/Icons_ex.svg" class="ex_slills_i"></div>
              <div class="ex_import_2"><%=user.extra_skills[2, 3, 4]%></div>
              </div>
              <div class="extra_3">
              <div class="icon_ex_1"><img src="/public/author/icons/Icons_ex.svg" class="ex_slills_i"></div>
              <div class="ex_import_3"><%=user.extra_skills[5, 6, 7]%></div>
              </div>
              <div class="extra_4">
              <div class="icon_ex_1"><img src="/public/author/icons/Icons_ex.svg" class="ex_slills_i"></div>
              <div class="ex_import_4"><%=user.extra_skills[8, 9]%></div>
              </div>
             
            </div>
            <div class="marginer"></div>
        </div>
        <div class="midd_frame">
        
          <div class="mid_top">
              <div class="icons_top">
            <div class="icon_yel-1"><img src="/public/author/icons/Ellipse yel.svg" ></div>
            <div class="icon_yel-2"><img src="/public/author/icons/Ellipse yel.svg" ></div>
            <div class="icon_grean_1"><img src="/public/author/icons/Ellipse 12.svg" ></div>
            <div class="icon_grean_2"><img src="/public/author/icons/Ellipse 12.svg" ></div>
            <div class="icon_cub_b"><img src="/public/author/icons/Rectangle 52.svg" ></div>
            <div class="icon_cub_y"><img src="/public/author/icons/Rectangle 51.svg" alt=""></div>
            <div class="icon_triangle"><img src="/public/author/icons/Polygon 1.svg" alt=""></div>

          </div>
            <div class="top_left">
              <h1 class="profession"><%=user.profession%></h1>
              <div class="info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.
              </div>
              <button class="button">HIRE ME <img class="vector" src="/public/author/icons/Vector.svg" ></button>
            </div>
            <div class="top_right"><img src="/public/author/images/Your_Image_1.png" alt=""></div>
          </div>
        </div>
        <div class="right_frame"></div>
    </div>
  </div>  
</body>
</html>